*{
    margin: auto;
    box-sizing: border-box;
}
.containe{
    width: 70%;
}
.top{
    background-image: url("./IP3/assets/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 200px;
}
.top h1{
    margin-top: 20px;
    font-size: 3em;
    font-weight: 500;
    font-family: sans-serif;
}
.top h3{
    margin-top: 20px;
    font-weight: 500;
    font-size: medium;
}
.mouse{
    margin-top: 200px;
    padding-bottom: 50px;
}
.about-us{
    text-align: center;
    padding-top: 40px;
}
.about-us p{
    padding-top: 15px;
}
.services{
    background-image: url("./IP3/assets/backgrounds/s_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 100px 100px;
    margin-top: 50px;
    text-align: center;
}
.services p{
    padding-top: 20px;
}
.we-do-h2{
    text-align: center;
    margin-top: 50px;
    font-size: 1.2em;
}
.we-do-h22{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 1.2em;
}
.what-we-do{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 50px ;
    margin-top: 30px;
    
}
.we-do-what{
    text-align: center;
    align-items: center;
    margin: 20px;
}
.teee{
    margin-left: 280px;
    padding-bottom: 120px;
}
.collapse{
    width: 400px;
}
#roow{
    padding-bottom: 40px;
}
.namemail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.name{
    margin-right: -270px;
    background-color: inherit;
    padding-right: 350px;
    /* margin-left: 300px; */
}
.text:hover{
    cursor: pointer;
    opacity: 0.7;
    
}
.email{
    margin-right: 20px;
    padding-right: 200px;
}
#message{
    align-content: center;
    padding-right: 220px;
    padding-left: -50px;
    padding-bottom: 250px;
    

}
#sub:hover{
    /* padding-left: 300px; */
    background-color: green;
    color: white;
}
footer{
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    text-align: center;
    font-weight: 400;
}
.social-media-mage{
    margin-bottom: 20px;
}
.social-media-mage img{
    padding-right: 10px;
}